{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs" style="margin-top: -20px;">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/vtm/batch-redesign">Batch redesign</a>
    </li>
  </ol>

  <hr class="govuk-section-break govuk-section-break--m">
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
       Batch redesign
      </h1>

        <strong class="govuk-tag govuk-tag--green">
          Version 1
        </strong>

        <br>
        <br>

        <p class="govuk-body">
          Last updated: 16 April 2026
        </p>

<hr class="govuk-section-break--m govuk-section-break--visible">

      <p class='govuk-body'><a href="/vtm/batch-redesign/create-batch.html">Create a batch of technical records</a>
      </p>
      <p class='govuk-body'><a href="/vtm/batch-redesign-option-2/create-batch.html">Create a batch of technical records option 2</a>
      </p>

  <hr class="govuk-section-break govuk-section-break--m">

      <h2 class="govuk-heading-m">Description</h2>
      <p class="govuk-body">An update to the batch record creation journey in VTM to align with GDS design standards and improve accessibility.</p>
        <ul class="govuk-list govuk-list--bullet form-detail">
          <li>update designs to GDS standards</li>
          <li>prepare for future accessibility audits</li>
        </ul>
      </p>

<!--
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Sandbox
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet form-detail">
            <li><a href="/olcs-letters/sandbox/sidenav.html">Side navigation</a></li>

        </div>
      </details>
-->



{% endblock %}
