{% extends "layouts/main.html" %}

{% block pageTitle %}
Vehicle Testing Management – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new
    tab)</a>.'
}) }}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-width-container">

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
            aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    Technical records processed
                </h3>
                <p class="govuk-body">You have updated 2 HGV technical records using application
                    ID 000000.</p>
            </div>
        </div>

        <h1 class="govuk-heading-l">Batch summary</h1>
        <h2 class="govuk-heading-m">Successfully processed records</h2>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width: 20% !important;">
                    VIN
                </dt>
                <dt class="govuk-summary-list__key" style="width: 15% !important;">
                    Trailer ID
                </dt>
                <dt class="govuk-summary-list__key" style="width: 15% !important;">
                    Vehicle type
                </dt>
                <dt class="govuk-summary-list__key" style="width: 20% !important;">
                    Record type
                </dt>
                <dt class="govuk-summary-list__key" style="width: 30% !important;">

                </dt>
            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    00001
                </dd>
                <dd class="govuk-summary-list__value">
                    HGVTST1
                </dd>
                <dd class="govuk-summary-list__value">

                    HGV

                </dd>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">Provisional</strong>

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">View (opens in new tab)<span class="govuk-visually-hidden">VIN
                            0123456789 Trailer ID HGVTST1</span></a>
                </dd>
            </div>
                        <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                    00002
                </dd>
                <dd class="govuk-summary-list__value">
                    HGVTST2
                </dd>
                <dd class="govuk-summary-list__value">

                    HGV

                </dd>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">Provisional</strong>

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">View (opens in new tab)<span class="govuk-visually-hidden">VIN
                            0123456789 Trailer ID HGVTST1</span></a>
                </dd>
            </div>
  

        </dl>




    </div>
</div>



{% endblock %}