{% extends "layouts/redesign.html" %}

{% block pageTitle %}
Vehicle Testing Management – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
tag: { text: "Beta" },
html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback</a>.'
}) }}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <h1 class="govuk-heading-l">
    Abandon test
  </h1>

  <div class="govuk-grid-row">

    <!-- Summary card -->
    <div class="govuk-grid-column-one-third-from-desktop vehicle-summary">

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title govuk-summary-card__title-vtm govuk-heading-l">
            Summary
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="tech-record-hgv">Cancel<span class="govuk-visually-hidden"></span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-summary-list__key-tech">
                Test type
                <div class="summary-link-wrapper">
                  <a class="govuk-link summary-link" href="create-test">Change</a> 
                </div>
              </dt>
            </div>
            <div class="govuk-summary-list__row--value">
              <dd class="govuk-summary-list__value govuk-summary-list__value--overflow">
                Annual test (AAV4)
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-summary-list__key-tech">
                Vehicle type
              </dt>
            </div>
            <div class="govuk-summary-list__row--value">
              <dd class="govuk-summary-list__value govuk-summary-list__value--overflow">
                HGV
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-summary-list__key-tech">
                VIN
              </dt>
            </div>
            <div class="govuk-summary-list__row--value">
              <dd class="govuk-summary-list__value govuk-summary-list__value--vin">
                WBABW33426PX70804
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-summary-list__key-tech">
                VRM
              </dt>
            </div>
            <div class="govuk-summary-list__row--last">
              <dd class="govuk-summary-list__value govuk-summary-list__value--vrm">
                <div class="reg-mark-div">
                  <span
                    class="reg-mark-sm">4001373Z</span>
                </div>
              </dd>

            </div>
            

          </dl>
        </div>
      </div>

      <div class="govuk-button-group govuk-button-group-record">
        {{ govukButton({
        text: "Confirm and save",
        href: ""
        }) }}
        {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary",
        href: "test-details"
        }) }}
      </div>

    </div>

    <!-- Accordion -->
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form class="form" action="tech-record" method="post">
        
<div class="govuk-accordion govuk-accordion--vtm"
     data-module="govuk-accordion"
     data-open-all="true"
     id="accordion-with-summary-sections">

          <h2 class="govuk-accordion__section-heading-top-review">
            <span class="govuk-accordion-heading-vtm">
              Abandonment details
            </span>
          </h2>

          <!--GENERAL-->
          <div class="govuk-accordion__section govuk-accordion__section-vtm required adr plates">
            <div class="govuk-accordion__section-header govuk-accordion__section-header-vtm">
              <h2 class="govuk-accordion__section-heading">
                <span
                  class="govuk-accordion__section-button govuk-accordion__section-button-vtm govuk-accordion__section-heading-vtm"
                  id="accordion-with-summary-sections-heading-2">
                 Reasons for abandonment
                </span>
              </h2>
            </div>
            <div class="govuk-accordion__section-summary-padding"></div>

            <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content">
              <hr class="expanded">
              </hr>
              <ul class="govuk-list">
                <li>

                
    <div class="govuk-form-group">
                          <h3 class="govuk-label-wrapper">
                      <label class="govuk-label govuk-label--s" for="event-name">
                        Why was this test abandoned?
                      </label>
                    </h3>
      <fieldset class="govuk-fieldset" aria-describedby="abandon-hint">
        <div id="abandon-hint" class="govuk-hint">
          Select all that apply
        </div>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon" name="abandon" type="checkbox" value="ministry-plate">
            <label class="govuk-label govuk-checkboxes__label" for="abandon">
              A Ministry Plate has been issued and is not fitted to the vehicle or trailer
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-2" name="abandon" type="checkbox"
              value="health-and-safety">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-2">
              Current Health and Safety legislation cannot be met in testing the vehicle
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-3" name="abandon" type="checkbox"
              value="dangerous-goods">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-3">
              No proof was given that the vehicle used for carrying dangerous/toxic/corrosive or inflammable goods had
              been cleaned or otherwise rendered safe for test
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-4" name="abandon" type="checkbox"
              value="impractical-or-unsafe">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-4">
              The driver and/or presenter of the vehicle refused to or was unable to comply with the instructions of
              DVSA staff making it impractical or unsafe to continue the test
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-5" name="abandon" type="checkbox" value="tachograph">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-5">
              The examiner could not open the tachograph
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-6" name="abandon" type="checkbox"
              value="particulars-do-not-match">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-6">
              The particulars of the motor vehicle or trailer (e.g. number of axles / axle weights) do not match the
              VTG6 Ministry Plate fitted to the vehicle
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-7" name="abandon" type="checkbox" value="fee-not-paid">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-7">
              The relevant test fee has not been paid
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-8" name="abandon" type="checkbox"
              value="failure-of-part">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-8">
              The test could not be completed due to a failure of a part of the vehicle, or trailer and accompanying
              motor vehicle which made movement impossible
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-9" name="abandon" type="checkbox"
              value="trailer-not-accompanied">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-9">
              The trailer was not accompanied by a suitable motor vehicle
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-10" name="abandon" type="checkbox"
              value="insufficient-fuel-and-oil">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-10">
              The vehicle did not have sufficient fuel and oil to allow the test to be carried out
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-11" name="abandon" type="checkbox"
              value="exhaust-modified">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-11">
              The vehicle exhaust outlet has been modified preventing a metered smoke check
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-12" name="abandon" type="checkbox"
              value="excessive-smoke">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-12">
              The vehicle or motor vehicle by which it is accompanied emits substantial amounts of smoke so as to make
              it unreasonable for the test to be carried out
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-13" name="abandon" type="checkbox"
              value="dirty-or-dangerous-condition">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-13">
              The vehicle or trailer (or any part of) was in such a dirty or dangerous condiction so as to make it
              unreasonable for the test to be carried out
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-14" name="abandon" type="checkbox"
              value="not-loaded-as-required">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-14">
              The vehicle was not loaded as required
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-15" name="abandon" type="checkbox" value="time">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-15">
              The vehicle was not submitted for test at the appointed time
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-16" name="abandon" type="checkbox"
              value="livestock-or-unsuitable-material">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-16">
              The vehicle was presented for test carrying livestock or other unsuitable material
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="abandon-17" name="abandon" type="checkbox"
              value="chassis-number-not-fixed">
            <label class="govuk-label govuk-checkboxes__label" for="abandon-17">
              There is not permanently fixed to the chassis serial number as shown on the registration document (motor
              vehicle) or the identification mark issued by the Secretary of State (trailer)
            </label>
          </div>
        </div>
      </fieldset>
    </div>

                </li>
              </ul>
            </div>
          </div>


          <!--NOTES-->
          <div class="govuk-accordion__section govuk-accordion__section-vtm admin">
            <div class="govuk-accordion__section-header govuk-accordion__section-header-vtm">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button govuk-accordion__section-heading-vtm"
                  id="accordion-with-summary-sections-heading-2">
                  Additional notes
                </span>
              </h2>
              <div class="govuk-accordion__section-summary-padding"></div>
            </div>
            <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content">
              <hr class="expanded">
              </hr>
              <ul class="govuk-list">
                <li>

                  <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count"
                    data-maxlength="1024">
                    <h3 class="govuk-label-wrapper">
                      <label class="govuk-label govuk-label--s" for="event-name">
                        Notes (optional)
                      </label>
                    </h3>
                    <label class="govuk-label" for="label-as-page-heading">
                      Enter any notes as to why this test was abandoned
                    </label>
                    <textarea class="govuk-textarea" id="label-as-page-heading" name="labelAsPageHeading" rows="5"
                      aria-describedby="label-as-page-heading-info"></textarea>
                    <div id="label-as-page-heading-info" class="govuk-hint govuk-character-count__message">
                      You have 500 characters remaining
                    </div>
                  </div>

                </li>
              </ul>
            </div>
          </div>


        </div>


      </form>
    </div>



  </div>

</div>


{% endblock %}