{% extends "layouts/main.html" %}

{% block pageTitle %}
  Vehicle Testing Management – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toggleButton = document.getElementById('filterToggleButton');
    const filterPanel = document.getElementById('filterPanel');

    toggleButton.addEventListener('click', function () {
      // Toggle chevron rotation
      toggleButton.classList.toggle('is-open');

      // Toggle visibility of the panel
      const isHidden = filterPanel.hasAttribute('hidden');
      if (isHidden) {
        filterPanel.removeAttribute('hidden');
      } else {
        filterPanel.setAttribute('hidden', '');
      }

      // Update aria-expanded for accessibility
      toggleButton.setAttribute('aria-expanded', isHidden ? 'true' : 'false');
    });
  });
</script>




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Search for a technical record
      </h1>

      <form class="form" action="search-results" method="post">
        

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="account-number">
              Enter a VIN, VRM or Trailer ID
            </label>
          </h2>
          <input class="govuk-input govuk-!-width-search" id="width-10" name="width20" type="text">


          <button type="submit" class="govuk-button search-button" data-module="govuk-button" href="/vtm/ux-audit/Search/search-results">
            Search
          </button>

        </form>
      

        </div>

        <div class="app-c-filter-panel__header">
        <button 
          class="app-c-filter-panel__button govuk-link" 
          id="filterToggleButton"
          aria-expanded="false"
          aria-controls="filterPanel"
        >
          <span class="app-c-filter-panel__button-inner">Filter results</span>
        </button>

        <div id="changedName-hint" class="govuk-hint govuk-search-results-count">
          
        </div>
        </div>


        <div id="filterPanel" class="govuk-form-group app-c-filter-panel__content" hidden>
          <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="fullvin" name="fullvin" type="checkbox" value="fullvin" checked>
                <label class="govuk-label govuk-checkboxes__label" for="fullvin">
                  VIN
                </label>
              </div>
            </div>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="vrm" name="organisation" type="checkbox" value="vrm" checked>
                <label class="govuk-label govuk-checkboxes__label" for="vrm">
                  VRM
                </label>
              </div>
            </div>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="trailerid" name="trailerid" type="checkbox" value="trailerid" checked>
                <label class="govuk-label govuk-checkboxes__label" for="trailerid">
                  Trailer ID
                </label>
              </div>
            </div>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  Exact matches only
                </label>
              </div>
            </div>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  Show archived records
                </label>
              </div>
            </div>
          </fieldset>

          <div class="app-c-filter-panel__actions">
      <input type="submit" value="Apply" class="govuk-button app-c-filter-panel__action app-c-filter-panel__action--submit" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;finder&quot;,&quot;text&quot;:&quot;Apply&quot;,&quot;section&quot;:&quot;Filter and sort&quot;,&quot;action&quot;:&quot;apply&quot;,&quot;index_section&quot;:0,&quot;index_section_count&quot;:4}" data-disable-with="Apply">

    </div>

        </div>

    </div>
  </div>

{% endblock %}
